<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <%- include("partials/header") %>
</head>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <main>
      <section class="hero is-info">
        <div class="hero-body">
          <p class="title">Image Endless</p>
          <p class="subtitle">
            A place to store images you find on the web.
          </p>
        </div>
      </section>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
  </body>
  <%- include("partials/footer") %>
</html>

  