<!DOCTYPE html>
<head>
  <html lang="en">
    <%- include("partials/header") %>
    <%- include("partials/head") %>
  </head>

  <body>
    <section>
      <div class="container">
        <div class="columns is-mobile">
          <div class="column sidebar">Add <form action="/images" method="post">
            <input type="text" placeholder="Type Image Here" name="text" />
            <input type="submit" value="Add Image"/>
          </form>
          </div>
          <div class="column content">
            
  <main>
      <div class="container is-fluid">
        <!-- **********NEW IMAGES FORM**************** -->
        <h1 class="title is-1 mt-5 has-text-centered">My Images</h1>
        <% for (image of images) { %>
        <figure class="image">
          <img class="is-centered m-2 p-2" src="<%=image.text%>" />
        </figure>
        <% } %>
    </div>
    </main>
          
          </div>
        </div>
      </div>
    </section>
    <%- include("partials/footer") %>

  </body>
  <script>
// mobile menu
const burgerIcon = document.querySelector('#burger');
const navbarMenu = document.querySelector('#nav-links');

burgerIcon.addEventListener('click', () => {
  navbarMenu.classList.toggle('is-active');
});

// tabs
const tabs = document.querySelectorAll('.tabs li');
const tabContentBoxes = document.querySelectorAll('#tab-content > div');

tabs.forEach(tab => {
  tab.addEventListener('click', () => {
    tabs.forEach(item => item.classList.remove('is-active'));
    tab.classList.add('is-active');

    const target = tab.dataset.target;
    // console.log(target);
    tabContentBoxes.forEach(box => {
      if (box.getAttribute('id') === target) {
        box.classList.remove('is-hidden');
      } else {
        box.classList.add('is-hidden');
      }
    })
  })
})
</script>
</html>