<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <nav class="navbar is-white has-shadow">
      <!-- logo / brand -->
      <div class="navbar-brand">
        <a class="navbar-item"><p>Image Lover: A Place to Store Your Images</p></a>
        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div class="navbar-menu" id="nav-links">
        <!-- right links -->
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item"></a>
        </div>
      </div>
    </nav>
    <main>
      <!-- *********DISPLAY OUR GOALS********* -->
      <div class="container is-fluid">
        <!-- **********NEW IMAGES FORM**************** -->
        <div class="form-container is-centered">
        <form action="/images" method="post">
          <input type="text" placeholder="Type Image Here" name="text" />
          <input type="submit" value="Add Image"/>
        </form>
      </div>
        <h1 class="title">My Images</h1>
        <a href="/auth/logout"><button class="button">Log Out</button></a>
        <% for (image of images) { %>
        <figure class="image is-2by3">
          <img class="is-centered m-5 p-5" src="<%=image.text%>" />
        </figure>
        <% } %>
    </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>